.App {
  display: flex;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  margin-left: 200px;   /* match sidebar width */
  margin-top: 70px;     /* match navbar height */
  padding: 30px;
  background-color: #f5f6fa;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
